{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
